:root {
    --AzulPrincipal: #2F3656;
    --AzulSecundario: #234480;
    --BgMain: #F5F5F5;
    --FuentePrincipal: 'Montserrat', sans-serif;
    --FuenteSecundaria: 'Poppins', sans-serif;
    --Fondo: #141E30;
    --FondoDeg: -webkit-linear-gradient(to right, #243B55, #141E30);
    --background: linear-gradient(270.07deg, #1E3C72 4.92%, #2A5298 92.28%);
}

.titSeccion {
    padding: 1.5em;
    color: var(--AzulSecundario);
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.titSeccion>h3 {
    font-family: var(--FuenteSecundaria);
    font-weight: 600;
    font-size: 2em;
}

.titSeccionDoble {
    padding: 1.5em;
    color: var(--AzulSecundario);
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.titSeccionDoble>h3 {
    font-family: var(--FuenteSecundaria);
    font-weight: 600;
    font-size: 2em;
}

.lineasDoble {
    background: var(--Fondo);
    /* fallback for old browsers */
    background: var(--FondoDeg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: var(--Gradiente);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 0.3em;
    width: 40%;
}