:root {
    --AzulPrincipal: #2F3656;
    --AzulSecundario: #234480;
    --BgMain: #F5F5F5;
    --FuentePrincipal: 'Montserrat', sans-serif;
    --FuenteSecundaria: 'Poppins', sans-serif;
    --Fondo: #141E30;
    --FondoDeg: -webkit-linear-gradient(to right, #243B55, #141E30);
    --background: linear-gradient(270.07deg, #1E3C72 4.92%, #2A5298 92.28%);
}

.cardServi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    border-radius: 10px;

    background: white;
    box-shadow: 30px 30px 70px #c7c8c9,
        20px 10px 70px #fdfeff;
}

.cardServiH {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    border-radius: 10px;

    background: white;
    box-shadow: 30px 30px 70px #c7c8c9,
        20px 10px 70px #fdfeff;
}

.pie {
    background: var(--background);
    padding: 1.8em;
    height: 100px;
    width: 100%;
    color: var(--BgMain);
    font-family: var(--FuenteSecundaria);
    border-radius: 0 0 8px 8px;
}

.pie>h5 {
    font-family: var(--FuenteSecundaria);
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cuerpo {
    padding: 1.8em;
    height: 90%;
    font-family: var(--FuenteSecundaria);
    font-weight: 500;
    font-size: 20px;
    color: var(--AzulPrincipal);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botonCard {
    border: none;
    border-radius: 5px;
    font-family: var(--FuentePrincipal);
    font-size: 20px;
    background-color: var(--AzulSecundario);
    color: #F5F5F5;
    width: 100%;
    height: 2.8em;

}

.tituloH {
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--FuenteSecundaria);
    font-weight: normal;
    font-size: 20px;
}

.imagenH {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--FuenteSecundaria);
    font-weight: bold;
    font-size: 15px;
}

.botonH {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--FuenteSecundaria);
    font-weight: bold;
    font-size: 15px;
}

@media (max-width: 768px) {
    .cardServiH {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        border-radius: 22px;

        background: white;
        box-shadow: 30px 30px 70px #c7c8c9,
            20px 10px 70px #fdfeff;
    }


}

@media (min-width: 960px) {
    .cardServiH {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        border-radius: 10px;

        background: white;
        box-shadow: 30px 30px 70px #c7c8c9,
            20px 10px 70px #fdfeff;
    }

    .tituloH {
        background-color: var(--AzulSecundario);
        color: white;
        border-radius: 3px 0 0 3px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: var(--FuenteSecundaria);
        font-weight: normal;
        font-size: 18px;
    }

    .imagenH {
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: var(--FuenteSecundaria);
        font-weight: bold;
        font-size: 15px;
    }

    .botonH {
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: var(--FuenteSecundaria);
        font-weight: bold;
        font-size: 15px;
    }
}