:root {
    --AzulPrincipal: #2F3656;
    --BgMain: #F5F5F5;
    --FuentePrincipal: 'Montserrat', sans-serif;
}

.sec-nosotros {
    height: 1000px;
    background-image: url('../img/servifon.jpg');
    background-size: cover;
    background-position: center;
    color: #F5F5F5;
    padding: 10px;
    background-color: rgb(52, 52, 52);
    background-blend-mode: soft-light;
}

.sec-nosotros>h3 {
    font-family: var(--FuentePrincipal);
    font-size: 3.0em;
    font-weight: 600;
    margin-left: 1em;
    margin-top: 1em;
}

.sec-nosotros>h4 {
    font-family: var(--FuentePrincipal);
    font-size: 1.6em;
    font-weight: 500;
    margin-left: 2.0em;
    margin-top: 1em;
    padding-right: 5em;
}

.carrusel {
    display: flex;
    flex-direction: row;
    padding-top: 3.8em;
    padding-bottom: 3.8em;
    overflow: hidden
}

.slide-padre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.slide-item {
    display: flex;
    flex-direction: row;
}

.img-marca {
    width: auto;
    height: 70%;
}

.titulo-marca {
    font-family: var(--FuentePrincipal);
    font-size: 35px;
    font-weight: 600;
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}