:root {
    --AzulPrincipal: #2F3656;
    --BgMain: #F5F5F5;
    --FuentePrincipal: 'Montserrat', sans-serif;
    --AzulHover: #314396;
    --Fondo: #141E30;
    --FondoDeg: -webkit-linear-gradient(to right, #243B55, #141E30);
    --Gradiente: linear-gradient(to right, #243B55, #141E30);
}

.seccInicio {
    background-image: url('../img/refrigerador--min.png');
    background-size: cover;
    height: 950px;
}

.caja-inicio {
    color: var(--BgMain);
    background-color: rgba(1, 1, 1, 0.7);
    height: 100%;
    padding-bottom: 3.8em;
}

.sec-nosotros {
    width: 100%;
    background-image: url('../img/servifon.jpg');
    background-size: cover;
    height: 950px;
    background-position: center;
    color: #F5F5F5;
    padding: 20px;
    background-color: rgb(52, 52, 52);
    background-blend-mode: soft-light;
}

.sec-nosotros>h3 {
    font-family: var(--FuentePrincipal);
    font-size: 3.0em;
    font-weight: 600;
    margin-left: 1em;
    margin-top: 1em;

}

.sec-nosotros>h4 {
    font-family: var(--FuentePrincipal);
    font-size: 1.6em;
    font-weight: 500;
    margin-left: 2.0em;
    margin-top: 1em;
    padding-right: 5em;
}

@media (max-width: 960px) {
    .sec-nosotros>h3 {

        font-size: 2.0em;

    }

    .sec-nosotros>h4 {
        font-size: 1.3em;

    }
}


@media (max-width: 768px) {
    .sec-nosotros>h3 {

        font-size: 2.0em;

    }

    .sec-nosotros>h4 {
        font-size: 1.3em;

    }
}


.carrusel {
    display: flex;
    flex-direction: row;
    padding-top: 3.8em;
    padding-bottom: 3.8em;
    overflow: hidden
}

.slide-padre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.slide-item {
    display: flex;
    flex-direction: row;
}

.img-marca {
    width: auto;
    height: 60%;
}

.titulo-marca {
    font-family: var(--FuentePrincipal);
    font-size: 35px;
    font-weight: 600;
    margin-top: 1.8em;
    margin-bottom: 1.8em;
}

.menu-responsive {
    background-color: var(--AzulPrincipal);
    color: var(--BgMain);
    font-family: var(--FuentePrincipal);
    display: none;
}

@media (max-width: 860px) {
    .menu-responsive {
        background-color: var(--AzulPrincipal);
        color: var(--BgMain);
        font-family: var(--FuentePrincipal);
        position: fixed;
        left: 93%;
        top: 1em;
        display: block;
    }

    .menu {
        transition: all 1.3s;
        display: flex !important;
        flex-direction: column;
        position: fixed;
        top: 70px;
    }
}


@media (max-width: 768px) {

    .menu-responsive {
        background-color: var(--AzulPrincipal);
        color: var(--BgMain);
        font-family: var(--FuentePrincipal);
        position: fixed;
        left: 91%;
        top: 1em;
        display: block;
    }

    .menu {
        transition: all 1.3s;
        display: flex !important;
        flex-direction: column;
        position: fixed;
        top: 70px;
    }
}

@media (max-width:576px) {
    .menu-responsive {
        background-color: var(--AzulPrincipal);
        color: var(--BgMain);
        font-family: var(--FuentePrincipal);
        position: fixed;
        left: 85%;
        top: 1em;
        display: block;
    }

    .menu {
        transition: all 1.3s;
        display: flex !important;
        flex-direction: column;
        position: fixed;
        top: 70px;
    }
}


.menu {
    transition: all 1.5s;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 70px;
    height: 100vh;
    background-color: var(--AzulPrincipal);
}

.menu-items {
    background-color: var(--AzulPrincipal);
    padding: 1em 0.2em 1em 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
    text-decoration: none;
    color: var(--BgMain);
    font-family: var(--FuentePrincipal);
    transition: all 0.5s;
}



.btn-menu {
    border: none;
    background-color: var(--AzulPrincipal);
    color: var(--BgMain);
}