:root {
    --AzulPrincipal: #2f3656;
    --BgMain: #f5f5f5;
    --FuentePrincipal: "Montserrat", sans-serif;
    --FuenteSecundaria: 'Poppins', sans-serif;
    --AzulGradient: linear-gradient(to right, #243949 0%, #517fa4 100%);
    --Fondo: #141E30;
    --FondoDeg: -webkit-linear-gradient(to right, #243B55, #141E30);
    --background: linear-gradient(270.07deg, #1E3C72 4.92%, #2A5298 92.28%);
}

.subtitulo {
    font-family: var(--FuentePrincipal);
    font-size: 1.3em;
    font-weight: 500;
}