:root {
    --AzulPrincipal: #2F3656;
    --BgMain: #F5F5F5;
    --FuentePrincipal: 'Montserrat', sans-serif;
    --FuenteTitulos: 'Poppins', sans-serif;
    --AzulHover: #314396;
    --ColorLetra: #22437E;
    --Fondo: #141E30;
    --FondoDeg: -webkit-linear-gradient(to right, #243B55, #141E30);
    --Gradiente: linear-gradient(to right, #243B55, #141E30);
}

.titulo>h2 {
    font-family: var(--FuenteTitulos);
    font-weight: 600;
    font-size: 2.8em;
    margin-top: 2em;
    margin-bottom: 1em;
    color: var(--ColorLetra);
}

.titulo>h5 {
    font-family: var(--FuenteTitulos);
    font-size: 1.3em;
    font-weight: 100;
    margin-top: 2em;
    margin-bottom: 2em;
}

.lavadoraImg {
    width: auto;
    height: 547px;
}

@media (max-width: 960px) {
    .titulo>h2 {
        font-size: 2em;
    }

    .titulo>h5 {
        font-size: 1.3em;
    }
}

.seccInicio {
    height: 950px;
}

.cajaInicio {
    height: 100%;
    padding-bottom: 3.8em;
}


@media (max-width: 960px) {}


@media (max-width: 768px) {}