:root {
    --AzulPrincipal: #2F3656;
    --BgMain: #F5F5F5;
    --FuentePrincipal: 'Montserrat', sans-serif;
    --AzulHover: #314396;
    --Fondo: #141E30;
    --FondoDeg: -webkit-linear-gradient(to right, #243B55, #141E30);
    --Gradiente: linear-gradient(to right, #243B55, #141E30);
}

.secNosotros {
    width: 100%;
    background-image: url('../img/fondo/servifon.jpg');
    background-size: cover;
    height: 950px;
    background-position: center;
    color: #F5F5F5;
    padding: 20px;
    background-color: rgb(52, 52, 52);
    background-blend-mode: soft-light;
}

.secNosotros>h3 {
    font-family: var(--FuentePrincipal);
    font-size: 3.0em;
    font-weight: 600;
    margin-left: 1em;
    margin-top: 1em;

}

.secNosotros>h4 {
    font-family: var(--FuentePrincipal);
    font-size: 1.6em;
    font-weight: 500;
    margin-left: 2.0em;
    margin-top: 1em;
    padding-right: 5em;
}

@media (max-width: 960px) {
    .secNosotros {
        background-image: url('../img/fondo/servifon-min2.jpg')
    }

    .secNosotros>h3 {

        font-size: 2.0em;

    }

    .secNosotros>h4 {
        font-size: 1.3em;

    }
}


@media (max-width: 768px) {

    .secNosotros {
        background-image: url('../img/fondo/servifon-min3.jpg')
    }

    .secNosotros>h3 {

        font-size: 2.0em;

    }

    .secNosotros>h4 {
        font-size: 1.3em;

    }
}