:root {
    --AzulPrincipal: #2F3656;
    --BgMain: #F5F5F5;
    --FuentePrincipal: 'Montserrat', sans-serif;
    --FuenteSecundaria: 'Poppins', sans-serif;
    --AzulHover: #314396;
    --Fondo: #141E30;
    --FondoDeg: -webkit-linear-gradient(to right, #243B55, #141E30);
    --background: linear-gradient(270.07deg, #1E3C72 4.92%, #2A5298 92.28%);
}

.secNosotros {
    width: 100%;
    height: auto;
    color: var(--background);
    padding: 20px;
}

.secNosotros>h3 {
    font-family: var(--FuentePrincipal);
    font-size: 3.0em;
    font-weight: 600;
    margin-left: 1em;
    margin-top: 1em;

}

.secNosotros>h4 {
    font-family: var(--FuenteSecundaria);
    font-weight: 100;
    font-size: 1.2em;
    margin-left: 2.0em;
    margin-top: 1em;

}

@media (max-width: 960px) {


    .secNosotros>h3 {

        font-size: 2.0em;

    }

    .secNosotros>h4 {
        font-size: 1.3em;

    }
}


@media (max-width: 768px) {


    .secNosotros>h4 {
        font-size: 1.0em;

    }
}